:root {
    /* color */
    --color-black : #35394A;
    --color-dark-icon : #4C5866;
    --color-dark-font : #5D6067;
    --color-light-icon : #8C969F;
    --color-grey : #8C9369F;
    --color-blue-grey : #ABB6C5;
    --color-brown-grey : #B7B8BD;
    --color-light-font : #BABABA;
    --color-blue-bg : #E9F3FD;
    --color-red-bg : #F8F8F8;
    
    --color-main-blue : #3182F7;
    --color-main-red : #E95548l;
    --color-green : #17BB7F;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(../fonts/NotoSansCJKkr-Regular.otf);
}
@font-face {
    font-family: 'Noto Bold';
    src: url(../fonts/NotoSansCJKkr-Bold.otf);
}

* {
    font-family: 'Noto Sans'; box-sizing: border-box; 
}

html {
    padding: 0px !important;
    margin: 0px !important; min-height: 100vh;
    
}

body, 
#root, 
.App,
.content {
    width: 100%; height: 100vh; max-width: 768px; min-height: 100vh;
}

.w-content {
    min-height: 100vh; 
}
/* header */
.top-bar {
    width: 100%; height: 56px; position: fixed; z-index: 100; background-color: #ffffff; max-width: 768px;
}
.top-bar+div {
    position: relative;
    top: 56px; 
}
@media only screen and (min-width : 830px) {
    .top-bar+div {
        position: relative;
        top: 100vh; 
    }
}
.top-bar .top-nav {
    display: flex; padding: 18px 10px; height: 100%;
}
.main .top-bar .top-nav div:first-child {
    flex-grow: 7;
}
.main .top-bar .top-nav *:not(:first-child) {
    flex-grow: 1; text-align: center;
}
/* 갤럭시 폴드 */
@media only screen and (min-width : 830px) {
    body, 
    #root, 
    .App {
    width: 100%; height: 100vh; max-width: 830px; min-height: 100vh;  white-space:pre-wrap;
}   .top-bar {
    min-width: 830px; 
}
    .content {
       width: 100vw; min-width: 830px;
    }
    
}
/* .main .top-bar .top-nav div > * {
    vertical-align: middle; 
} */
/* .top-nav {
    display: flex;
} */
 .top-nav p {
    flex-grow: 4; margin: 0; font-weight: 700; font-size: 17px; line-height: 18px; letter-spacing: -0.05em; padding-left: 30px;
}
@media only screen and (min-width : 830px) {
.top-bar .top-nav {
    display: flex; padding: 18px 10px; height: 100%;
}
.main .top-bar .top-nav div:first-child {
    flex-grow: 8; padding-left: 30px;
}
.main .top-bar .top-nav div:first-child img {
    width: 160px; 
}
.main .top-bar .top-nav *:not(:first-child) {
    flex-grow: 1; text-align: center; ;
}
.main .top-bar .top-nav .setting{
    text-align: end; padding-right: 10px;
}
.main .top-bar .top-nav .mypage {
    padding-top: 2px;
}
.top-nav p {
    flex-grow: 4; margin: 0; font-weight: 700; font-size: 20px; line-height: 18px; letter-spacing: -0.05em; padding-left: 30px;
}
.setting > img {
    width: 30px; 
}
.mypage > img {
    width: 20px; 
}
}